*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    font-family: sans-serif;
}

div, section, span, ul, li, a, nav{
    box-sizing: border-box;
}

nav .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: white;
    position: fixed;
    z-index: 999;
}

#Menu ul{
    float: right;
    margin-right: 20px;
}

#Menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#Menu li a{
    color: black;
    text-decoration: none;
    font-size: 28px;
    text-transform: uppercase;
}

section{
    width: 100%;
    height: 100vh;
    float: left;
    position: relative;
}

#home{
    background-color: #8d8daa;
}

#about{
    background-color: #dfdfde;
}

#product{
    background-color: #f7f5f2;
}

#pricing{
    background-color: #f56d91;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

:active, a:hover{
    background: #1b9bff;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media(max-width: 952px){
    nav ul li a{
        font-size: 16px;
    }
}

@media(max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a:active{
        background: #0082e6;
    }
    #check:checked ~ ul{
        left:0;
    }
}